# 3 Types, Functions and Flow Control

## Data types

In [ ]:
x_int = 3

x_float = 3.

x_string = 'three'

x_list = [3, 'three']

In [ ]:
type(x_float)

float

In [ ]:
type(x_string)

str

In [ ]:
type(x_list)

list

### Numbers

In [ ]:
abs(-1)

In [ ]:
import math

math.floor(4.5)

In [ ]:
math.exp(1)

In [ ]:
math.log(1)

In [ ]:
math.log10(10)

In [ ]:
math.sqrt(9)

In [ ]:
round(4.54, 1)

4.5

If this should not make sense, you can print some documentation:

In [ ]:
round?

### Strings

In [ ]:
string = 'Hello World!'
string2 = "This is also allowed, helps if you want 'this' in a string and vice versa"
len(string)

12

#### Slicing

In [ ]:
print(string)
print(string[0])
print(string[2:5])
print(string[2:])
print(string[:5])
print(string * 2)
print(string + 'TEST')
print(string[-1])

Hello World!
H
llo
llo World!
Hello
Hello World!Hello World!
Hello World!TEST
!

#### String Operations

In [ ]:
print(string/2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
print(string - 'TEST')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
print(string * 2)

Hello World!Hello World!

capitalizing strings:

In [ ]:
x = 'test'

In [ ]:
x.capitalize()

'Test'

Enviromnents like Jupyter, Spyder, VSCode, etc. allow you to explore the methods like `.capitalize()` or `.upper()` using `x.` and pressing `tab`.

In [ ]:
x.find('e')

1

In [ ]:
x = 'TEST'
x.lower()

'test'

#### Formating

You can also format strings, e.g. to display rounded numbers

In [ ]:
print('Pi is {:06.2f}'.format(3.14159))
print('Space can be filled using {:_>10}'.format(x))

Pi is 003.14
Space can be filled using ______test

With python 3.6 this became even more readable

In [ ]:
print(f'{x} 1 2 3')

test 1 2 3

### Lists

Lists are ordered collections of objects of any kind.

In [ ]:
x_list

[3, 'three']

In [ ]:
x_list[0]

3

In [ ]:
x_list.append('III')
x_list

[3, 'three', 'III']

In [ ]:
x_list.append('III')
x_list

[3, 'three', 'III', 'III']

In [ ]:
del x_list[-1]
x_list

[3, 'three', 'III']

In [ ]:
y_list = ['john', '2.', '1']

y_list + x_list

['john', '2.', '1', 3, 'three', 'III']

In [ ]:
x_list*2

[3, 'three', 'III', 3, 'three', 'III']

In [ ]:
z_list=[4, 78, 3]
max(z_list)

78

In [ ]:
min(z_list)

3

In [ ]:
sum(z_list)

85

In [ ]:
z_list.count(4)

1

In [ ]:
z_list.append(4)
z_list.count(4)

2

In [ ]:
z_list.sort()
z_list

[3, 4, 4]

In [ ]:
z_list.reverse()
z_list

[4, 4, 3]

### Tuples

Tuples are immutable and can be thought of as read-only lists.

In [ ]:
y_tuple = ('john', '2.', '1')
type(y_tuple)

tuple

In [ ]:
y_list

['john', '2.', '1']

In [ ]:
y_list[0] = 'Erik'
y_list

['Erik', '2.', '1']

In [ ]:
y_tuple[0] = 'Erik'

TypeError: 'tuple' object does not support item assignment

### Dictionaries

Dictonaries are lists with named entries. There is also named tuples, which are immutable dictonaries. Use `OrderedDict` from `collections` if you need to preserve the order.

In [ ]:
tinydict = {'name': 'John', 'code': 6734, 'dept': 'sales'}
type(tinydict)

dict

In [ ]:
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [ ]:
tinydict['code']

6734

In [ ]:
tinydict['surname']

KeyError: 'surname'

In [ ]:
tinydict['dept'] = 'R&D'       # Update existing entry
tinydict['surname'] = 'Sloan'  # Add new entry
print(tinydict['dept'], tinydict['surname'])

R&D Sloan

In [ ]:
del tinydict['code']  # Remove entry with key 'code'

In [ ]:
tinydict['code']

KeyError: 'code'

In [ ]:
tinydict.clear()
del tinydict

NameError: name 'tinydict' is not defined

When duplicate keys encountered during assignment, the last assignment wins

In [ ]:
dic = {'Name': 'Sara', 'Age': 7, 'Name': 'Manni'}
dic

{'Name': 'Manni', 'Age': 7}

Finding the total number of items in the dictionary:

In [ ]:
len(dic)

2

Produces a printable string representation of a dictionary:

In [ ]:
str(dic)

"{'Name': 'Manni', 'Age': 7}"

## Sets

Unordered containers without repeating items.

In [ ]:
my_set = set([1, 2])
my_set

{1, 2}

In [ ]:
my_set.add(4)
my_set

{1, 2, 4}

In [ ]:
my_set.add(4)
my_set

{1, 2, 4}

In [ ]:
my_set.update(['hi', 3.5])
my_set

{1, 2, 3.5, 4, 'hi'}

In [ ]:
my_set + 5

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [ ]:
other_set = {3, 4, 5}

In [ ]:
my_set - other_set

{1, 2, 3.5, 'hi'}

In [ ]:
other_set.difference(my_set)

{3, 5}

In [ ]:
my_set.intersection(other_set)

{4}

In [ ]:
my_set.discard('hi')
my_set

{1, 2, 3.5, 4}

In [ ]:
my_set.discard('hello')

## Functions

In [ ]:
def mean(mylist):
    "Calculate the mean of the elements in mylist."
    number_of_items = len(mylist)
    sum_of_items = sum(mylist)
    return sum_of_items / number_of_items

In [ ]:
type(mean)

function

In [ ]:
z_list

[]

In [ ]:
mean(z_list)

ZeroDivisionError: division by zero

In [ ]:
help(mean)

Help on function mean in module __main__:

mean(mylist)
    Calculate the mean of the elements in mylist.

In [ ]:
mean?

Signature: mean(mylist)
Docstring: Calculate the mean of the elements in mylist.
File:      c:\users\borja\google drive\teaching\bist-master-python-bootcamp\<ipython-input-119-154e0c523c48>
Type:      function

In [ ]:
mean??

Signature: mean(mylist)
Source:
def mean(mylist):
    "Calculate the mean of the elements in mylist."
    number_of_items = len(mylist)
    sum_of_items = sum(mylist)
    return sum_of_items / number_of_items
File:      c:\users\borja\google drive\teaching\bist-master-python-bootcamp\<ipython-input-119-154e0c523c48>
Type:      function

## Flow Control

In general, statements are executed sequentially: the first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times. In Python a block is delimitated by intendation, i.e. all lines starting at the same space are one block.

Programming languages provide various control structures that allow for more complicated execution paths.

A loop statement allows us to execute a statement or group of statements multiple times.

### `while` Loop
Repeats a statement or group of statements while a given condition is TRUE. It tests the condition before executing the loop body.

In [ ]:
count = 0
while (count < 9):
    print('The count is: ' + str(count))
    count += 1

print('Good bye!')

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

A loop becomes infinite loop if a condition never becomes FALSE. You must use caution when using while loops because of the possibility that this condition never resolves to a FALSE value. This results in a loop that never ends. Such a loop is called an infinite loop.

An infinite loop might be useful in client/server programming where the server needs to run continuously so that client programs can communicate with it as and when required.

### `for` Loop
Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable.

In [ ]:
fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
    print('Current fruit:', fruit)

Current fruit : banana
Current fruit : apple
Current fruit : mango

Sometimes one also needs the index of the element, e.g. to plot a subset of data on different subplots. Then `enumerate` provides an elegant ("pythonic") way:

In [ ]:
for index, fruit in enumerate(fruits):
    print(f'Fruit number {index}:', fruit)

Fruit number 0: banana
Fruit number 1: apple
Fruit number 2: mango

In principle one could also iterate over an index going from 0 to the number of elements:

In [ ]:
for index in range(len(fruits)):
    print('Current fruit:', fruits[index])

Current fruit: banana
Current fruit: apple
Current fruit: mango

`for` loops can be elegantly integrated into a list comprehension

In [ ]:
our_list = []
for n in range(5):
    our_list.append(n)
our_list

[0, 1, 2, 3, 4]

In [ ]:
[n for n in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
print("It was true") if 2 < 3 else print("It was false")

It was true

In [ ]:
fruits_with_b = [fruit for fruit in fruits if fruit.startswith('b')]
fruits_with_b

['banana']

This is equivalent to the following loop:

In [ ]:
fruits_with_b = []
for fruit in fruits:
    if fruit.startswith('b'):
        fruits_with_b.append(fruit)
fruits_with_b

['banana']

### Nested Loops

Python programming language allows to use one loop inside another loop.
A final note on loop nesting is that you can put any type of loop inside of any other type of loop. For example a for loop can be inside a while loop or vice versa.

In [ ]:
for x in range(1, 3):
    for y in range(1, 4):
        print(f'{x} * {y} = {x*y}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

### `if`

The if statement will evaluate the code only if a given condition is met (used with logical operator such as `==`, `<`, `>`, `=<`, `=>`, `not`, `is`, `in`, etc.
Optionally we can introduce a `else`statement to execute an alternative code when the condition is not met.

In [ ]:
attendants = ['Mark', 'Jack', 'Mary']
student = 'Mark'

if student in attendants:
    print('present!')
else:
    print('absent!')

absent!

We can also use one or more `elif` statements to check multiple expressions for TRUE and execute a block of code as soon as one of the conditions evaluates to TRUE

In [ ]:
attendants_A = ['Mark', 'Jack', 'Mary']
attendants_B = ['Tom', 'Dick', 'Harry']
student = 'Tom'

if student in attendants_A:
    print('present in list A!')
elif student in attendants_B:
    print('present in list B!')
else:
    print('absent!')

present in list B!

`else` statements can be also use with `while` and `for` loops (the code will be executed in the end)

You can also use nested `if` statements.

### `break`

It terminates the current loop and resumes execution at the next statement. The break statement can be used in both while and for loops. If you are using nested loops, the break statement stops the execution of the innermost loop and start executing the next line of code after the block.

In [ ]:
var = 10
while var > 0:              
    print('Current variable value: ' + str(var))
    var -= 1
    if var == 5:
        break

print('Good bye!')

Current variable value: 10
Current variable value: 9
Current variable value: 8
Current variable value: 7
Current variable value: 6
Good bye!

### `continue`

The `continue` statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop (like a "skip").

The continue statement can be used in both `while` and `for` loops.

In [ ]:
for letter in 'Python':
    if letter == 'h':
        continue
    print('Current Letter: ' + letter)

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n

### `pass`

The `pass` statement is a null operation: nothing happens when it executes. The `pass` is also useful in places where your code will eventually go, but has not been written yet

In [ ]:
for letter in 'Python': 
    if letter == 'h':
        pass
        print('This is pass block')
    print('Current Letter: ' + letter)

print('Good bye!')

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n
Good bye!

`pass` and `continue`could seem similar but they are not. The printed message "This is pass block", wouldn't have been printed if continue had been used instead. `pass` does nothing, `continue` goes to the next iteration.

In [ ]:
for letter in 'Python': 
    if letter == 'h':
        continue
        print('This is pass block')
    print('Current Letter: ' + letter)

print('Good bye!')